<div class="cosmoboys-rolls">
<div class="title"><b>{{title_name}}</b><br>{{title_desc}}{{#if isHelp}} {{localize "CBOYS.Rolls.you_help"}}{{/if}}</title>
{{#if isHelp}}
    <div class="cosmoboys-rolls-total">
        {{dice_1}} + {{dice_2}} + {{dice_3}} 
    </div>
    <div class="cosmoboys-rolls-number">
        {{localize "CBOYS.Rolls.you_number"}}: {{boy_number}}
    </div>
    <table class="cosmoboys-rolls-expand">
        <tr>
            <td>{{localize "CBOYS.Rolls.variants.label"}}</td>
            <td>
                {{dice_1}} {{localize "CBOYS.Rolls.variants.and"}} {{dice_2}},
                {{#ifn flash}}
                    {{dice_1}} {{localize "CBOYS.Rolls.variants.and"}} {{dice_3}},
                {{/ifn}}
                {{dice_2}} {{localize "CBOYS.Rolls.variants.and"}} {{dice_3}}
            </td>
        </tr>
        {{#if flash}}
        <tr>
            <td>{{localize "CBOYS.Rolls.variants.flash"}}</td>
            <td>{{dice_1}} + {{dice_2}}</td>
        </tr>
            {{#if checkFlashD12}}
            <tr>
                <td>{{localize "CBOYS.Rolls.roll_flash"}}</td>
                <td>{{rollFlashTotal}}</td>
            </tr>
            {{/if}}
        {{/if}}
        {{#if trump}}
        <tr>
            <td>{{localize "CBOYS.Rolls.variants.trump"}}</td>
            <td>{{trump_text}}</td>
        </tr>
        {{/if}}
    </table>
{{else}}
    <div class="cosmoboys-rolls-total">
        {{dice_1}} + {{dice_2}} = {{total}} 
    </div>
    <div class="cosmoboys-rolls-number">
        {{localize "CBOYS.Rolls.you_number"}}: {{boy_number}}
    </div>
    <div class="cosmoboys-rolls-result">
        {{#if succes}}
            {{localize "CBOYS.Rolls.success"}}
        {{else}}
            {{localize "CBOYS.Rolls.failure"}}
        {{/if}}
    </div>
    {{#if flash_trump}}
    <div class="cosmoboys-rolls-extends">
        <div class="cosmoboys-rolls-title">{{localize "CBOYS.Rolls.you_flash_trump"}}</div>
        <p>{{localize "CBOYS.Rolls.you_flash_trump_desc"}}</p>
    </div>
    {{else if flash}}
    <div class="cosmoboys-rolls-extends">
        <div class="cosmoboys-rolls-title">{{localize "CBOYS.Rolls.you_flash"}}</div>
    </div>
        {{#if checkFlashD12}}
        <div class="cosmoboys-rolls-extends">
            <div class="cosmoboys-rolls-title">{{localize "CBOYS.Rolls.roll_flash"}}: {{rollFlashTotal}}</div>
        </div>
        {{/if}}
    {{else if trump}}
    <div class="cosmoboys-rolls-extends">
        <div class="cosmoboys-rolls-title">{{localize "CBOYS.Rolls.you_trump"}}</div>
    </div>
    {{/if}}
{{/if}}
</div>
