<div class="cosmoboys-chats cosmoboys-story">
<div class="story-title">{{localize "CBOYS.RollTables.story"}}</div>
<div class="cosmoboys-story-line">
    <div class="story-line-title">{{localize "CBOYS.RollTables.plot"}}</div>
    <p>{{plot}}</p>
</div>
<div class="cosmoboys-story-line">
    <div class="story-line-title">{{localize "CBOYS.RollTables.conflict"}}</div>
    <p>{{conflict}}</p>
</div>
<div class="cosmoboys-story-line">
    <div class="story-line-title">{{localize "CBOYS.RollTables.final"}}</div>
    <p>{{final}}</p>
</div>
</div>