<div class="cosmoboys-chats cosmoboys-story">
<h2>{{localize "CBOYS.RollTables.story"}}</h2>
<div class="cosmoboys-story-line">
    <h3>{{localize "CBOYS.RollTables.plot"}}</h3>
    <p>{{plot}}</p>
</div>
<div class="cosmoboys-story-line">
    <h3>{{localize "CBOYS.RollTables.conflict"}}</h3>
    <p>{{conflict}}</p>
</div>
<div class="cosmoboys-story-line">
    <h3>{{localize "CBOYS.RollTables.final"}}</h3>
    <p>{{final}}</p>
</div>
</div>